.search-results
    h2 Search Results
    .movie
      ul.movie__list
        li.movie__item
            .movie__image
                img(src="https://upload.wikimedia.org/wikipedia/vi/d/d9/ConanMovie24.jpg", alt="Movie Image")
            h3.movie__name
            span.movie__score
        li.movie__item
            .movie__image
                img(src="https://upload.wikimedia.org/wikipedia/vi/d/d9/ConanMovie24.jpg", alt="Movie Image")
            h3.movie__name
            span.movie__score
        li.movie__item
            .movie__image
                img(src="https://upload.wikimedia.org/wikipedia/vi/d/d9/ConanMovie24.jpg", alt="Movie Image")
            h3.movie__name
            span.movie__score
        li.movie__item
            .movie__image
                img(src="https://upload.wikimedia.org/wikipedia/vi/d/d9/ConanMovie24.jpg", alt="Movie Image")
            h3.movie__name
            span.movie__score
            
