.dialog__container
    .dialog__content
        .dialog__close
            i.fas.fa-times
        .dialog__body
            //- .ms__search-details
            //-     .movie-detail__img
            //-         img(src="https://image.tmdb.org/t/p/w500/i4kPwXPlM1iy8Jf3S1uuLuwqQAV.jpg", alt="")
            //-     .movie-detail__content
            //-         .movie-detail__title
            //-             h3 Movie Title Movie Title Movie Title Movie Title 
            //-                 span.movie-detail__year (2020)
            //-             span(title="Favorite").movie-detail__favorite.active
            //-                         i.fas.fa-heart
                    
            //-         ul.movie-detail__meta-info                         
            //-             li
            //-                 label Status:
            //-                 span Release
            //-             li
            //-                 label Rating:
            //-                 span 9.0
            //-             li
            //-                 label Release Date:
            //-                 span 2020-09-29
            //-             li
            //-                 label Website:
            //-                 span www.website.com
            //-             li
            //-                 label Genre:
            //-                 span Action
            //-             li
            //-                 label Director:
            //-                 span Hiep Nguyen
            //-             li
            //-                 label Cast:
            //-                 span Hiep Nguyen, Hiep Nguyen, Hiep Nguyen, Hiep Nguyen
            //-             li
            //-                 label Overview:
            //-                 span A professional thief with $40 million in debt and his family's life on the line must commit one final heist - rob a futuristic airborne casino filled with the world's most dangerous criminals.
                    