.search-results
    h2
    ul.movie__list
    //-   li.movie__item
    //-       .movie__image
    //-           img(src="images/no-image.jpg", alt="Movie Image")
    //-       h3.movie__name Conan Detective
    //-       span.movie__year 2020
    //-   li.movie__item
    //-       .movie__image
    //-           img(src="https://upload.wikimedia.org/wikipedia/vi/d/d9/ConanMovie24.jpg", alt="Movie Image")
    //-       h3.movie__name Conan Detective
    //-       span.movie__year 2020
    //-   li.movie__item
    //-       .movie__image
    //-           img(src="https://upload.wikimedia.org/wikipedia/vi/d/d9/ConanMovie24.jpg", alt="Movie Image")
    //-       h3.movie__name Conan Detective
    //-       span.movie__year 2020
    //-   li.movie__item
    //-       .movie__image
    //-           img(src="https://upload.wikimedia.org/wikipedia/vi/d/d9/ConanMovie24.jpg", alt="Movie Image")
    //-       h3.movie__name Conan Detective
    //-       span.movie__year 2020
    //-   li.movie__item
    //-       .movie__image
    //-           img(src="https://upload.wikimedia.org/wikipedia/vi/d/d9/ConanMovie24.jpg", alt="Movie Image")
    //-       h3.movie__name Conan Detective
    //-       span.movie__year 2020
    //-   li.movie__item
    //-       .movie__image
    //-           img(src="https://upload.wikimedia.org/wikipedia/vi/d/d9/ConanMovie24.jpg", alt="Movie Image")
    //-       h3.movie__name Conan Detective
    //-       span.movie__year 2020

            
