.ms__layout {

    .ms__search-details {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

        .movie-detail {

            &__img {
                padding: 0 15px;
            }

            &__content {
                padding: 30px 15px;
            }

            &__title {
                
                margin-bottom: 30px;
                display: flex;

                >h3 {
                    flex-grow: 1;
                    line-height: 1.5;
                    font-size: 24px;
                    font-weight: 600;
                    align-self: flex-end;
                }
            }


            &__meta-info {
                > li {
                    display: flex;
                    margin: 15px 0;
                    line-height: 1.5;
                    font-size: 14px;
                    
                    > label {
                        font-weight: 500;
                        margin-right: 10px;
                        min-width: 126px;
                        text-align: right;
                    }

                    >span {
                        color: $secondary;
                        
                    }
                }
            }

            &__website {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &__favorite {
                flex-shrink: 0;
                margin: 0 5px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
                color: $secondary !important;
                transition: box-shadow ease .4s;
                cursor: pointer;

                &.active {
                    color: $accent !important;
                }

                &:hover {
                    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}