.ms__layout {

    img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .ms__search-results {
        position: relative;
        grid-area: results;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            font-size: 14px;
            margin-bottom: 25px;
            font-weight: 500;
            margin-left: 15px;
        }

        .movie {
            &__list {
                display: flex;
                flex-wrap: wrap;
            }



            &__item {
                width: 25%;
                padding: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                @media(max-width: 991px) {
                    & {
                        flex-basis: 33.33333333%;
                        width: 33.33333333%;
                    }
                }

                @media(max-width: 600px) {
                    & {
                        flex-basis: 50%;
                        width: 50%;
                    }
                }

                @media(max-width: 500px) {
                    & {
                        flex-basis: 100%;
                        width: 100%;
                    }
                }
            }

            

            &__image {
                max-height: 374px;
                overflow: hidden;
                >img {
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                }
            }

            &__text {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                flex-grow: 1;
                padding: 15px;
                box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.10);
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
            }


            &__name {
                font-weight: 500;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-bottom: 5px;
                color: $primary;

            }

            &__year {
                font-size: 14px;
                color: $secondary;
            }
        }

        .pagination {
            margin-top: 20px;
            margin-right: 10px;
            display: flex;
            justify-content: flex-end;

            button {
                padding: 10px 15px;
                background: #F1F3F4;
                margin: 0 5px;
                cursor: pointer;
                color: $primary;
                transition: box-shadow ease .4s;

                &:hover {
                    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.10);
                }
            }
        }
    }
}