.dialog {
    &__container {
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        padding: 0 20px;
        display: none;

        &.open {
            display: block;
        }
    }

    &__content {
        width: 100%;
        max-width: 900px;
        margin: 75px auto;
        background: #fff;
        color: $primary;
        min-height: 600px;
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    &__body {
        padding: 20px 0;
    }

    &__close {
        position: absolute;
        top: -10px;
        left: -10px;
        font-size: 20px;
        background: #fff;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
        color: $secondary;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        cursor: pointer;
        z-index: 9;
    }
}

@keyframes animatetop {
    from {top: -100px; opacity: 0}
    to {top: 0; opacity: 1}
  }