extends ../layouts/layout.pug
block main-content
    include ./../layouts/header.pug
    .ms__content
        include ./../partials/search-results.pug
        include ./../layouts/footer.pug
    include ./../partials/search-details.pug