//  Author: Nguyen Chinh Hiep
//  Email: nguyenchinhhiep95@gmail.com
//  Facebook: facebook.com/hiepnguyen1003

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #fdfdfd;
  color: #5f6368;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}