header
    .header__inner
        a.logo(href="#")
            span Movie 
            span Search
        form.search
            input(type="text" placeholder="Search movies...").search__input
            button(type="submit").search__icon
                i.fas.fa-search
        .favorite
            i.far.fa-heart