header.ms__header
    .header__inner.container
        a.logo(href="#")
            span Movie 
            span Search
        .search
            button.search__cancel
                i.fas.fa-times
            form
                input(type="text" placeholder="Search movies...").search__input
                button(type="submit").search__icon
                    i.fas.fa-search
        .favorite
            i.fas.fa-search
            i.fas.fa-heart
            ul.favorite__list
                //- li.favorite__item
                //-     a(href="#")
                //-         .favorite__img
                //-             img(src="https://image.tmdb.org/t/p/w500/bAwtbmCzhFwKf2wN6QQH301ylbO.jpg", alt="")
                //-         .favorite__text
                //-             .favorite__title Before the fire
                //-             .favorite__year 2020
                //- li.favorite__item
                //-     a(href="#")
                //-         .favorite__img
                //-             img(src="https://image.tmdb.org/t/p/w500/bAwtbmCzhFwKf2wN6QQH301ylbO.jpg", alt="")
                //-         .favorite__text
                //-             .favorite__title Before the fire
                //-             .favorite__year 2020
                //- li.favorite__item
                //-     a(href="#")
                //-         .favorite__img
                //-             img(src="https://image.tmdb.org/t/p/w500/bAwtbmCzhFwKf2wN6QQH301ylbO.jpg", alt="")
                //-         .favorite__text
                //-             .favorite__title Before the fire
                //-             .favorite__year 2020
                //- li.favorite__item
                //-     a(href="#")
                //-         .favorite__img
                //-             img(src="https://image.tmdb.org/t/p/w500/bAwtbmCzhFwKf2wN6QQH301ylbO.jpg", alt="")
                //-         .favorite__text
                //-             .favorite__title Before the fire
                //-             .favorite__year 2020
                //- li.favorite__item
                //-     a(href="#")
                //-         .favorite__img
                //-             img(src="https://image.tmdb.org/t/p/w500/bAwtbmCzhFwKf2wN6QQH301ylbO.jpg", alt="")
                //-         .favorite__text
                //-             .favorite__title Before the fire
                //-             .favorite__year 2020
                //- li.favorite__item
                //-     a(href="#")
                //-         .favorite__img
                //-             img(src="https://image.tmdb.org/t/p/w500/bAwtbmCzhFwKf2wN6QQH301ylbO.jpg", alt="")
                //-         .favorite__text
                //-             .favorite__title Before the fire
                //-             .favorite__year 2020
                //- li.favorite__item
                //-     a(href="#")
                //-         .favorite__img
                //-             img(src="https://image.tmdb.org/t/p/w500/bAwtbmCzhFwKf2wN6QQH301ylbO.jpg", alt="")
                //-         .favorite__text
                //-             .favorite__title Before the fire
                //-             .favorite__year 2020
            